img, video{
	max-width: 100%;
}
.container{
	padding-left: 2px;
	padding-right: 2px;
}
/*
header
*/
.logo{
	padding-top: 1em;
	width: 4em;
}
.title>h1{
	font-size: 3em;
}

/*
video
*/
.video{
	margin-top: 1em;
	padding-top: 1em;
	border-top: dotted;
	border-color: orange;
}
.movie{
	width: 100%;
}

/*
infomation
*/
.movie_name{
	margin-top: 1em;
	font-size: 2em;
}
.poster{
	width: 100%;
}
.basic_info{
	width: 96%;
	margin-top: 1em;
}
.information{
	padding: 1em 5px 0 5px;
}
#info{
	padding-right: 0;
}
#info>div{
	padding-right: 1px;
	padding-left: 1px;
}
.actors{
	padding: 0;
	margin-top: 0.5em;
}
.actors>div{
	padding-left: 0;
}
.actor{
	padding-top: 1em;
	padding-left: 0;
}
.actor_img{
	float: left;
	padding-right: 1em;
}
.actor{
	list-style: none;
}
.actor>li{
	padding-top: 1em;
}
.actor>li>p{
	font-size: 0.8em;
	line-height: 0.9em;
}
.charac_img{
	padding: 15px 0 0 0;

}
.charac_img>img{
	width: 50px;
	padding-bottom: 1em;
	padding-top: 0.8em;
	display: block;
}
.intro{
	line-height: 2em;
}
/*
主页
*/
.shelf{
	padding-top: 5em;
}
/*
media query
*/
@media screen and (max-width: 600px){
	.logo{
		width: 3em;
	}
	.title>h1{
		font-size: 2em;
	}
	.movie_name{
		font-size: 1.2em;
	}
	.information{
		padding-top: 0;
	}
}

